@import url(https://fonts.googleapis.com/css?family=Rubik:400,700);@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300);html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-scrollable tbody,
.full-scrollable thead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.full-scrollable td,
.full-scrollable th {
  width: 9%;
  min-width: 104px;
  max-width: 9%;
  border-right: 1px solid #cfd8dc;
  font-weight: normal;
}

.full-scrollable td:first-child,
.full-scrollable th:first-child {
  width: 22px;
  min-width: 22px;
  max-width: 22px;
  text-align: center;
}

.full-scrollable td:nth-child(2),
.full-scrollable th:nth-child(2) {
  width: 6%;
  min-width: 72px;
  max-width: 6%;
}

.full-scrollable td:last-child,
.full-scrollable th:last-child {
  width: 30%;
  min-width: 160px;
  max-width: 30%;
}

input[type="submit"],
button,
.dropdown ul li {
  border-radius: 0;
  border: none;
  padding: 0.2em 0.75em;
  background: #b0bec5;
  color: #37474f;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.33);
}

input[type="submit"]:hover,
button:hover,
.dropdown ul li:hover {
  background: #cfd8dc;
  color: #0277bd;
}

input[type="submit"]:not(.hack),
button:not(.hack),
.dropdown ul li:not(.hack),
.process:hover:not(.hack) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), color-stop(60%, transparent), color-stop(70%, rgba(0, 0, 0, 0.05)), to(transparent));
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), transparent 60%, rgba(0, 0, 0, 0.05) 70%, transparent);
}

header input[type="submit"],
header button,
header .dropdown {
  position: relative;
  display: inline-block;
  font-size: 1.7em;
  top: -1px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Rubik', 'sans-serif';
  font-size: 13px;
  color: #37474f;
  text-rendering: optimizeSpeed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

header {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: #546e7a;
  color: #eceff1;
  height: 2.5em;
}

header * {
  vertical-align: top;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .dropdown ul {
  height: 100%;
}

header .dropdown ul > li {
  height: 100%;
  height: 100%;
  line-height: 120%;
}

footer {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: #263238;
  color: #fff;
  -webkit-box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.5);
  height: 2em;
  padding: 0.5em;
  z-index: 5;
  position: relative;
}

main {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
}

.full-scrollable {
  border-collapse: collapse;
  table-layout: fixed;
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.full-scrollable tbody {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  margin-bottom: -2px;
}

.full-scrollable tbody tr:first-child td {
  position: relative;
  z-index: 10;
}

.full-scrollable tbody tr:first-child td:nth-child(4) {
  z-index: 9;
}

.full-scrollable tbody tr:first-child th {
  position: relative;
  z-index: 10;
}

.full-scrollable tbody tr:last-child td {
  position: relative;
  z-index: 10;
  border-bottom: 2px solid #263238;
}

.full-scrollable tbody tr:last-child td:nth-child(4) {
  z-index: 9;
}

.full-scrollable tbody tr:last-child th {
  position: relative;
  z-index: 10;
  border-bottom: 2px solid #263238;
}

.full-scrollable tbody th {
  background: #b0bec5;
  border-right: 1px solid #263238;
}

.full-scrollable thead {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  overflow-y: scroll;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.full-scrollable thead th {
  background: #263238;
  color: #fff;
  border-bottom: 1px solid #222;
  border-right: 1px solid #546e7a;
  height: 3em;
}

.full-scrollable tr {
  display: table;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.full-scrollable tr:nth-child(odd) td {
  background: #f4f5fb;
}

.full-scrollable tr:nth-child(even) td {
  background: #e8eaf6;
}

.full-scrollable td {
  padding: 0.5em;
  vertical-align: top;
}

.full-scrollable td:nth-child(2) {
  font-variant: small-caps;
  vertical-align: middle;
  text-align: center;
}

.full-scrollable:not(.hack):not(.hack) td {
  padding: 0.5em;
  vertical-align: top;
  background-clip: padding-box;
}

input[type="search"] {
  display: inline-block;
  padding: 0;
  font-size: 1.7em;
  border-radius: 0;
  background: #eceff1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), color-stop(90%, #cfd8dc));
  background-image: linear-gradient(transparent, transparent 90%, #cfd8dc 90%);
  border: 0.2em solid #eceff1;
  border-width: 0.2em 0.75em;
  height: 100%;
  width: 15%;
  min-width: 10em;
}

input[type="search"]:focus {
  outline: none;
  width: 35%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), color-stop(90%, #b0bec5));
  background-image: linear-gradient(transparent, transparent 90%, #b0bec5 90%);
  -webkit-transition: all 0.2s 0;
  transition: all 0.2s 0;
}

input[type="search"]:not(:focus) {
  -webkit-transition: all 0.2s 0.1s;
  transition: all 0.2s 0.1s;
}

::-webkit-input-placeholder {
  color: #b0bec5;
}

:-ms-input-placeholder {
  color: #b0bec5;
}

::-moz-placeholder {
  color: #b0bec5;
  opacity: 1;
}

:-moz-placeholder {
  color: #b0bec5;
  opacity: 1;
}

:focus::-webkit-input-placeholder {
  color: #eceff1;
}

:focus:-ms-input-placeholder {
  color: #eceff1;
}

:focus:-moz-placeholder {
  color: #eceff1;
  opacity: 0;
}

:focus::-moz-placeholder {
  color: #eceff1;
  opacity: 0;
}

.dropdown ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: inherit;
  cursor: default;
}

.dropdown ul li {
  position: relative;
}

.dropdown ul li:hover > ul {
  display: inherit;
}

.dropdown ul ul {
  min-width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
  border: inherit;
  border-top: none;
  z-index: 50;
}

.dropdown ul ul li {
  float: none;
  display: block;
  position: relative;
  margin-top: -1px;
}

.dropdown * {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.dropdown li {
  display: inline-block;
  font-size: inherit;
}

.dropdown.right ul ul {
  left: auto;
  right: 0;
}

.dropdown > ul > li:after {
  content: ' \25BC';
}

hr {
  margin: 0.3em;
  border: none;
  height: 1px;
  width: 96%;
  margin-left: 2%;
  background: rgba(0, 0, 0, 0.25);
}

a {
  color: #0091ea;
  text-decoration: none;
}

a:visited {
  color: #0091ea;
  text-decoration: none;
}

a:hover {
  color: #03a9f4;
  border-bottom: 2px dotted;
}

details[open] div {
  display: block;
}

details[open] > summary::before {
  content: '\25BC';
}

summary {
  display: block;
  cursor: default;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: '\25BA';
  padding-right: 0.1em;
}

.right {
  float: right;
}

.process {
  background: #4caf50;
  color: #004d40;
}

.process:hover {
  background: #00e676;
}

.headerText {
  font-size: 1.7em;
  line-height: 150%;
  padding: 0 1em;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .full-scrollable {
    width: 100%;
  }
}

@supports (-ms-accelerator: true) {
  .full-scrollable {
    width: 100%;
  }
}

input[type=checkbox] {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox] + label {
  background-image: url("/img/Check.png");
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 1px;
  padding-left: 16px;
  height: 16px;
  display: inline-block;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox]:checked + label {
  background-position: 0 -16px;
}

input[type=checkbox]:indeterminate + label {
  background-position: 0 -32px;
}

form {
  display: inline;
}

details div {
  display: none;
}

table tbody tr th.Printed:not(.hack):not(.hack) {
  background: #f44336;
}

table tbody tr th.Scanned:not(.hack):not(.hack) {
  background: #4caf50;
}

table tbody tr th.Dispatched:not(.hack):not(.hack) {
  background: #00bcd4;
}

table tbody tr th.Void:not(.hack):not(.hack) {
  background: #880e4f;
}

table tbody tr th.Hold:not(.hack):not(.hack) {
  background: #ffc107;
}

table tbody tr:hover th:not(.hack):not(.hack) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0.25)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
}

.notice {
  border-top: 1px solid #263238;
  padding: 2em;
  background: #f4f5fb;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notice span {
  display: inline-block;
  width: 100%;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 72px;
  color: #b0bec5;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.33), -1px -1px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}

