// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400');

// Variables
@import "variables";

// @extend-elements
%htmlbody {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
%full-scrollable-body {
	display: flex;
	flex-flow: column;
	overflow-y: scroll;
	overflow-x: hidden;
}
%full-scrollable-cell {
	width: 9%;
	min-width: 104px;
	max-width: 9%;
	font-weight: normal;
	cursor: default;
}
%full-scrollable-first-col {
	width: 22px;
	min-width: 22px;
	max-width: 22px;
	text-align: center;
}
%full-scrollable-second-col {
	width: 6%;
	min-width: 72px;
	max-width: 6%;
}
%full-scrollable-last-col {
	width: 30%;
	min-width: 160px;
	max-width: 30%;
}
%cta {
	border-radius: 2px;
	border: none;
	padding: 0.2em 0.75em;
	background: $color_neutral;
	color: $color_soft_black;
}
%cta-hover {
	background: $color_neutral_hover;
	color: $color_white;
}
%cta-overlay {
	background-image: linear-gradient($color_10_white, transparent 60%, $color_10_black 70%, transparent );
}
%header-items {
	font-family: 'Roboto Condensed', 'sans-serif';
	font-size: 20px;
}
%header-cta {
	@extend %header-items;
	border-radius: 0;
	display: inline-block;
	box-shadow: none;
}
%single-page {
	padding: 2em;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: auto;
}
%good {
	background: $color_good_back;
}
%good-hover {
	background: $color_good_hover;
	&:not(.hack):not(.hack) {
		@extend %cta-overlay;
	}
}


html {
    box-sizing: border-box;
	@extend %htmlbody;
}
* {
	box-sizing: inherit;
	&:before {
		box-sizing: inherit;
	}
	&:after {
		box-sizing: inherit;
	}
	&:focus, &:active {
		outline: none;
	}
}
body {
	@extend %htmlbody;
	font-family: 'Roboto', 'sans-serif';
	font-size: 13px;
	color: $color_dark_grey;
	background: $color_bright_grey;
	text-rendering: optimizeSpeed;
	display: flex;
	height: 100%;
	flex-flow: column;
}
header {
	display: block;
	flex: 0 0 auto;
	background: $color_header;
	color: $color_silver;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position: relative;
	z-index: 50;
	* {
		vertical-align: top;
		transition: all 0.2s;
		@extend %header-items;
	}
	input[type="submit"] {
		@extend %header-cta;
	}
	button {
		@extend %header-cta;
	}
	.dropdown {
		@extend %header-cta;
		ul {
			height: 100%;
			> li {
				border-radius: 0;
				box-shadow: none;
				height: 100%;
				height: 100%;
				line-height: 120%;
			}
		}
	}
}
footer {
	display: block;
	flex: 0 0 auto;
	background: $color_soft_black;
	color: $color_white;
	box-shadow: 0 -5px 20px 0 $color_50_black;
	height: 2em;
	padding: 0.5em;
	z-index: 5;
	position: relative;
}
main {
	display: block;
	flex: 1 1 auto;
	position: relative;
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%;
}
.full-scrollable {
	border-collapse: collapse;
	table-layout: fixed;
	position: absolute;
	height: 100%;
	display: flex;
	flex-flow: column;
	tbody {
		@extend %full-scrollable-body;
		flex: 1 1 auto;
		height: 100%;
		margin-bottom: -2px;
		tr {
			&:first-child {
				td {
					position: relative;
					z-index: 10;
					&:nth-child(3) {
						z-index: 9;
					}
				}
				th {
					position: relative;
					z-index: 10;
				}
			}
			&:last-child {
				td {
					position: relative;
					z-index: 10;
					border-bottom: 2px solid $color_soft_black;
					.dropdown ul ul {
						top: auto;
						bottom: 100%;
					}
					.dropdown > ul > li:hover:after {
							content: ' \25b2';
					}
					&:nth-child(3) {
						z-index: 9;
					}
				}
				th {
					position: relative;
					z-index: 10;
					border-bottom: 2px solid $color_soft_black;
				}
			}
		}
		th {
			background: $color_light_grey;
		}
	}
	thead {
		@extend %full-scrollable-body;
		flex: 0 0 auto;
		position: relative;
		overflow-y: scroll;
		box-shadow: 0 5px 20px 0 $color_50_black;
		z-index: 5;
		th {
			background: $color_soft_black;
			color: $color_white;
			padding: 0.5em 0;
			font-size: 14px;
		}
	}
	tr {
		display: table;
		width: 100%;
		flex: 0 0 auto;
		&:nth-child(odd) td {
			background: $color_soft_white;
		}
		&:nth-child(even) td {
			background: $color_stripe;
		}
	}
	td {
		padding: 0.5em 0.1em;
		vertical-align: top;
		@extend %full-scrollable-cell;
		&:first-child {
			@extend %full-scrollable-first-col;
		}
		&:nth-child(2) {
			@extend %full-scrollable-second-col;
			vertical-align: middle;
			text-align: center;
		}
		&:last-child {
			@extend %full-scrollable-last-col;
		}
	}
	th {
		@extend %full-scrollable-cell;
		&:first-child {
			@extend %full-scrollable-first-col;
		}
		&:nth-child(2) {
			@extend %full-scrollable-second-col;
		}
		&:last-child {
			@extend %full-scrollable-last-col;
		}
	}
	&:not(.hack):not(.hack) td {
		padding: 0.5em;
		vertical-align: top;
		background-clip: padding-box;
	}
}
input[type="search"] {
	padding: 0;
	border-radius: 0;
	background: $color_silver;
	background-image: linear-gradient(transparent, transparent 90%, $color_steel 90% );
	border: 0.2em solid $color_silver;
	border-width: 0.2em 0.75em;
	height: 100%;
	width: 15%;
	min-width: 10em;
	transition: all 0.2s 0.1s; // 0.1s delay allows pressing submit when searchbox is expanded
	&:focus {
		outline: none;
		width: 35%;
		background-image: linear-gradient(transparent, transparent 90%, $color_light_grey 90% );
	}
}
::-webkit-input-placeholder {
	color: $color_light_grey;
}
:-ms-input-placeholder {
	color: $color_light_grey;
}
::-moz-placeholder {
	color: $color_light_grey;
	opacity: 1;
}
:-moz-placeholder {
	color: $color_light_grey;
	opacity: 1;
}
:focus::-webkit-input-placeholder {
	color: $color_silver;
}
:focus {
	&:-ms-input-placeholder {
		color: $color_silver;
	}
	&:-moz-placeholder {
		color: $color_silver;
		opacity: 0;
	}
}
:focus::-moz-placeholder {
	color: $color_silver;
	opacity: 0;
}
input[type="submit"] {
	@extend %cta;
	&:hover {
		@extend %cta-hover;
	}
	&:not(.hack):not(.hack) {
		@extend %cta-overlay;
	}
}
button {
	@extend %cta;
	&:hover {
		@extend %cta-hover;
	}
	&:not(.hack):not(.hack) {
		@extend %cta-overlay;
	}
}
.dropdown {
	a, a:hover, a:visited {
		color: inherit;
		text-decoration: inherit;
		cursor: inherit;
		border: inherit;
		display: inline-block;
		width: 100%;
	}
	ul {
		padding: 0;
		margin: 0;
		display: inline-block;
		font-size: inherit;
		cursor: default;
		li {
			@extend %cta;
			position: relative;
			&:hover {
				@extend %cta-hover;
				> ul {
					display: inherit;
				}
			}
			&:not(.hack):not(.hack) {
				@extend %cta-overlay;
			}
		}
		ul {
			min-width: 100%;
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			white-space: nowrap;
			border: inherit;
			border-top: none;
			z-index: 50;
			li {
				float: none;
				display: block;
				position: relative;
				border-radius: 0;
			}
		}
	}
	* {
		transition: all 0.1s;
	}
	li {
		display: inline-block;
		font-size: inherit;
	}
	&.right ul ul {
		left: auto;
		right: 0;
	}
	> ul > li:after {
		content: ' \25bc';
	}
}
header .dropdown > ul > li:after {
		font-size: 0.8em;
		line-height: 1;
		display: inline-block;
		position: relative;
		top: -0.05em;
		left: 0.2em;
}
hr {
	margin: 0.3em;
	border: none;
	height: 1px;
	background: $color_25_black;
}
a {
	color: $color_link;
	text-decoration: none;
	&:visited {
		color: $color_link;
		text-decoration: none;
	}
	&:hover {
		color: $color_hover;
		border-bottom: 1px dotted;
	}
}
details[open] {
	> div {
		display: block;
	}
	> summary::before {
		content: '\25BC';
	}
}
summary {
	display: block;
	cursor: default;
	outline: none;
	user-select: none;
}
summary::-webkit-details-marker {
	display: none;
}
summary::before {
	content: '\25BA';
	padding-right: 0.1em;
}
.right {
	float: right;
}
.headerText {
	font-size: 1.7em;
	line-height: 150%;
	padding: 0 1em;
}
@media all and(-ms-high-contrast: none),(-ms-high-contrast: active) {
	.full-scrollable {
		width: 100%;
	}
}
@supports(-ms-accelerator:true) {
	.full-scrollable {
		width: 100%;
	}
}
input[type=checkbox] {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	+ label {
		background-image: url('/img/Check.png');
		user-select: none;
		margin-bottom: 1px;
		padding-left: 16px;
		margin-left: -1px;
		height: 16px;
		display: inline-block;
		line-height: 16px;
		background-repeat: no-repeat;
		background-position: 0 0;
		font-size: 16px;
		vertical-align: middle;
		cursor: pointer;
	}
	&:checked + label {
		background-position: 0 -16px;
	}
	&:indeterminate + label {
		background-position: 0 -32px;
	}
}
form {
	display: inline;
}
details > div {
	display: none;
}
table tbody tr {
	th {
		&.Printed:not(.hack):not(.hack) {
			background: $color_status_printed;
		}
		&.Scanned:not(.hack):not(.hack) {
			background: $color_status_scanned;
		}
		&.Dispatched:not(.hack):not(.hack) {
			background: $color_status_dispatched;
		}
		&.Void:not(.hack):not(.hack) {
			background: $color_status_void;
		}
		&.Hold:not(.hack):not(.hack) {
			background: $color_status_hold;
		}
	}
	&:hover {
		th:not(.hack):not(.hack) {
			background-image: linear-gradient($color_20_black, transparent);
		}
		td:not(.hack):not(.hack) {
			color: $color_highlight;
		}
	}
}
.notice {
	@extend %single-page;
	display: flex;
	align-items: center;
	justify-content: center;

	span {
		font-family: 'Alegreya Sans SC', sans-serif;
		font-size: 72px;
		color: $color_light_grey;
		text-shadow: 1px 1px 0 $color_33_white, -1px -1px 0 $color_50_black;
	}
}
.single-page {
	@extend %single-page;
}
.order {
	display: block;
	font-size: 14px;
	background: $color_bright_grey;
	border-radius: 3px;
	box-shadow: 0 10px 20px $color_25_black, 0 6px 6px $color_50_black;
	width: 480px;
	margin: auto;
	textarea {
		display: block;
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		height: 2em;
		max-height: 2em;
		border: none;
		background: $color_soft_white;
		font-size: inherit;
		margin: 0;
		box-sizing: border-box;
	}
	button {
		width: 100%;
		box-sizing: border-box;
	}
}
.header {
	background: $color_light_grey;
	color: $color-soft-black;
	font-size: 1.2em;
	padding: 0.6em;
	text-align: center;
}
.order > .header {
	font-size: 1.8em;
}
.row {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	&.split {
		width: 50%;
		float: left;
		&.editable {
			margin-bottom: 2em;
			position: relative;
			textarea {
				position: absolute;
				resize: none;
				&:focus {
					resize: vertical;
					width: 200%;
					max-width: 200%;
					min-width: 200%;
					height: 5.8em;
					max-height: 9999px;
					background: $color_white;
					box-shadow: inset 0 0.2em 0.3em 1px $color_25_black,
								0 0.5em 1em $color_25_black;
					border: 2px solid $color_steel;
					outline: none;
					z-index: 10;
				}
			}
		}
		&:last-child:nth-child(odd) {
			float: none;
			clear: both;
			width: 100%;
			margin-bottom: 0;
			.value {
				border-right: none;
			}
			textarea {
				position: static;
				&:focus {
					width: 100%;
					max-width: 100%;
					min-width: 100%;
					height: 2em;
					border: 2px solid $color_steel;
					box-shadow: inset 0 0.2em 0.3em 1px $color_25_black;
				}
			}
		}
		&:nth-child(odd) .value {
			border-right: 2px solid $color_steel;
		}
		&:nth-child(even) {
			textarea:focus {
				left:-100%;
			}
		}
	}
	&:not(.split) {
		clear: both;
	}
}
.field {
	background: $color_steel;
	color: $color_soft_black;
}
.viewable {
	color: $color_light_grey;
}
.field,.value {
	padding: 4px 8px;
}
span.value {
	display: block;
}
div.value {
	background: $color_20_black;
	padding: 4px;
	overflow: hidden;
}
.order > .row > details > div.value {
    background: none;
}
.delete {
	background: $color_bad_back;
	color: $color_bad_text;
	border-radius: 100%;
  width: 16px;
  width: 16px;
  margin-top: 2px;
  line-height: 16px;
	font-size: 16px;
  float: right;
	&:not(.hack):not(.hack) {
		@extend %cta-overlay;
	}
	&:link, &:visited {
		color: $color_bad_text;
	}
	&:hover {
		background: $color_bad_hover;
		color: $color_bad_text;
		border: none;
		&:not(.hack):not(.hack) {
			@extend %cta-overlay;
		}
	}
}
.removed-message {
	display: none;
}
.removed {
	margin-bottom: 4px;
	.row {
		display: none;
	}
	.default-message {
		display: none;
	}
	.removed-message {
		display: block;
	}
}
.good:not(.hack):not(.hack) {
	@extend %good;
}
button.good, input[type=submit] {
	@extend %good;
	&:hover {
		@extend %good-hover;
		@extend %cta-hover;
	}
	&:not(.hack):not(.hack) {
		@extend %cta-overlay;
	}
}
.order button.good {
	@extend %header-cta;
}
.total {
	margin-bottom: 0;
	float: right;
}
.Printed {
	background: $color_status_printed;
}
.Scanned {
	background: $color_status_scanned;
}
.Dispatched {
	background: $color_status_dispatched;
}
.Void {
	background: $color_status_void;
}
.Hold {
	background: $color_status_hold;
}
